# --- Java ---
*.log

*.jar
!lib/*.jar
!lib/*.dll

# --- Directorios de compilación (SIEMPRE IGNORADOS) ---
bin/
build/
target/
out/

# --- Eclipse (Ajustado) ---
.metadata/
.recommenders/
remote-systems-tempfiles/
.tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# --- NO ignores estos si quieres que otros vean tu configuración de Eclipse ---
# .project
# .classpath

# --- OS específicos ---
.DS_Store
Thumbs.db
